/* Setting Body width for consistency in larger devices */
body{
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid aqua;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: #727272;
}

.btn-primary{
  height: 64px;
  font-size: 20px;
  background-color: #FF900E;
  color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  border: none;
  margin: 15px auto;
}

/* Header */

header{
  background-color: #fff4e7;
  padding: 0 50px;
  padding-bottom: 30px;
}

/* nav */
nav{
  display: flex;
  justify-content: space-between;
}

.logo{
  font-size: 45px;
  font-weight: 700;
  color: #131313;
  line-height: 53px;
}

#menu{
  display: flex;
  gap: 25px;
  margin-top: 45px;
  list-style: none;
}


#menu a{
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
  color: #424242;
  font-weight: 500;
}

/* Introduction */
.introduction{
  flex-direction: column;
  justify-content: center;
}

.introduction .text{
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.header-title{
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  color: #131313;
}

.banner img{
  width: 100%;
  margin-top: 20px;
}



/* Main */
.section-title{
  font-size: 40px;
}

/* Section :- Quick Overview of Feaure  */

section.quick-list-features{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px 80px;
}

div.photo{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.photo img{
  width: 45%;
  height: auto;
}

.quick-list-features .text{
  width: 80%;
  margin: auto;
}






/* Responsive for mobile */
@media screen and (max-width : 576px) {
  
  nav{

    flex-direction: column;
  }
}